<h1>マイページ</h1>
<h5>登録</h5>
<table class="table table-bordered">
 <tr><td>氏名</td><td>1111</td></tr>
 <tr><td>カナ</td></td><td>11</td></tr>
 <tr><td>郵便番号</td><td>11</td></tr>
 <tr><td>住所</td><td>11</td></tr>
 <tr><td>電話番号</td><td>22す</td></tr>
 <tr><td>メールアドレス</td><td>です</td></tr>
</table>