
<div class="container">
  <div class="main">
  <%= stylesheet_link_tag "application" %>
      <p>ようこそ、ながのCAKEへ!<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>
  </div>




  <h3><strong>新着商品</strong></h3>
  <div class="row">
    <% @items.each do |item| %>
  <div class="col-md-3">
    <div class="col">
      <p><%= image_tag item.image, size: "250x200" %></p>
      <p><strong><%= item.name %></strong></p>
      <p><strong>¥<%= item.price %></strong>
    </div>
  </div>
    <% end %>
    <p><a href="/items" class="link-underline-primary">全ての商品を見る＞</a></p>
  </div>

</div>






