<div class="container">
  <div class ="row">
    <div class ="col-md-4">
         <%= image_tag "deco_cake.jpg", size: "800x400" %>
         <div class="card-img-overlay">
         <h5 class="text-center">ようこそ、ながのCAKEへ！</h5>
         <p class="text-center">このサイトは、ケーキ販売のECサイトになります。</p>
         <p class="text-center">会員でない方も商品の閲覧はできますが、</p>
         <p class="text-center">購入には会員登録が必要になります。</p>
         </div>
    </div>
  </div>

  <h3><strong>新着商品</strong></h3>
  <div class="row">
    <% @items.each do |item| %>
  <div class="col-md-3">
    <div class="col">
      <p><%= image_tag item.image, size: "300x200" %></p>
      <h6>商品名</h6>
      <p><%= item.name %></p>
      <p>¥<%= item.price %>
    </div>
  </div>
  <% end %>
<p><a href="/items" class="link-underline-primary">全ての商品を見る＞</a></p>
  </div>
</div>






