<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 cover-img" style="background-image:url(deco_cake.jpg);">
     <div class="cover-text text-center">
      <p style="color: #fff;">ようこそ、なかのCAKEへ！<br>
       このサイトは、ケーキ販売のECサイトになります。<br>
       会員でない方も商品の閲覧はできますが、<br>
       購入には会員登録が必要になります。</p>
     </div>
    </div>
  </div>
</div>

<h2>新着商品</h2>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>

<a class= "全ての商品を見る＞" href= "/items"></a>