  <div class="jumbotron">
      <div class="container">
      <h2>ようこそ、ながのCAKEへ！</h2>
       このサイトは、ケーキ販売のECサイトになります。<br>
       会員でない方も商品の閲覧はできますが、<br>
       購入には会員登録が必要になります。</h2>
    　</div>
  </div>




<p><a href="/items" class="link-underline-primary">全ての商品を見る＞</a></p>