  <div class="jumbotron">
      <div class="container">
      <h2>ようこそ、ながのCAKEへ！</h2>
       このサイトは、ケーキ販売のECサイトになります。<br>
       会員でない方も商品の閲覧はできますが、<br>
       購入には会員登録が必要になります。</h2>
    　</div>
  </div>



<h2>新着商品</h2>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>
<li>
  <a>商品名</a>
  <p>￥0.000</p>
</li>

<a class= "全ての商品を見る＞" href= "/items"></a>