<h5>注文履歴詳細</h5>

<h8>注文情報</h8>
<table>
  <tr>
    <td>注文日</td>
    <td></td>
  </tr>
  <tr>
    <td>配送日</td>
    <td></td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td></td>
  </tr>
</table>

<h8>請求情報</h8>
<table>
  <tr>
    <td>商品合計</td>
    <td>配送料</td>
    <td>ご請求額</td>
  </tr>
</table>

<h8>ご注文内容</h8>
<table>
  <tr>
    <th>商品</th>
    <th>単価(税込)</th>
    <th>個数</th>
    <th>小計</th>
    <td></td>
  </tr>
</table>